.App {
  background-image: url('./concer2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 28px;
  height: 100vh;
}

.first-header {
  font-size: 40px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 80px;
  font-family: 'Times New Roman', Times, serif;
}

.second-header {
  font-size: 40px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 40px;
  font-family:'Times New Roman', Times, serif;
}

.regester-btn {
  position: relative;
  top: 160px;
  left: 36vw;
  width: 25vw;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(26, 202, 179);
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.regester-btn:hover {
  background-color: rgb(139, 223, 211);
  color: #fff;
}

.regester-btn:active {
  position: relative;
  width: 24vw;
  background-color: rgb(202, 238, 233);
  color: #fff;
}



